# OS
.DS_Store

# Editor
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

# Logs
*.log

# Node / Next.js
node_modules/
.next/
out/
coverage/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# TypeScript
*.tsbuildinfo

# Env
.env
.env.*
!.env.example

# Cloudflare / OpenNext build output
.open-next

# Cloudflare local dev secrets
.dev.vars

# Wrangler build 生成物
.wrangler/*
